<div class = "infocontainer">
    <div class = "annbox">
        <div class = "abphoto"> </div>
        <div class = "abinfo"> <p id="pfirst"><strong>Ania Bach</strong></p><br>
        <p>
            Studentka chemii na Politechnice Gdańskiej.
W pełni zainteresowana światem chemii, dietetyki, fitness, tańca.
Kocha chodzić do łóżka z książkami.
Amatorka gotowania i fotografii. Kinomanka.
Z charakteru mała, wredna istotka, lubiąca robić na przekór, pokazując że się da.
Potrafi wysłuchać, umie doradzić.
Jej hobby to jedzenie. Ziemniaczane, makaronowe, warzywne, mięsne, czekoladowe…
Uwielbia odkrywać smaki różnych knajp.
Utożsamia się z twierdzeniem: Jeśli nie lubisz słodyczy, jesteś złym człowiekiem.
</p> </div>
    </div>
    

    <div class = "maksbox">
        <div class = "mzphoto"></div>
        <div class = "mzinfo" id="mzimg"> <p><strong>Maksym Zielński</strong><br><br>
Dla przyjaciół Linux, dla bratniej duszy Maksio.<br>
Student Gdańskiej Politechniki, na kierunku Informatyka Stosowana.
Z zamiłowania programista, majster od sprzętu, gracz komputerowy.<br>
Z charakteru bywa szczery do bólu, ale w środku  wrażliwy i nader cierpliwy, pomocy nigdy nie odmówi. Kocha muzykę wszelkiego rodzaju, jest ciekawy świata, przejmuje się polityką naszego kraju, jednak jeśli chodzi o historię, to zna lepiej Chiny.
Uwielbia jedzenie, od słodkiego, do ostrego. Najbardziej lubi mięso i ser pleśniowy.<br> Nie przepada za słodyczami (czekolada, lody i ciasta to nie słodycze).
Utożsamia się z twierdzeniem: Jedzenie to najważniejszy posiłek dnia.</p></div>
    </div>
    
    
</div>