<div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="postarea">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class = "reviewheader"><center>TITLE</center></h1>

                <!-- Author -->
                <p class="lead">
                  od  <a href="#">AUTOR</a>
                </p>

                <hr class = "posthr">

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on DATE </p>

                <hr class = "posthr">


                <!-- Preview Image -->
                
                <center><%= image_tag("", :alt => "rss feed") %></center> <!--IMAGE IN "" -->
				        


                <hr class = "posthr">


                <!-- Post Content -->
                <div class='reviewspace'><p>
                Text here
                <!-- Side Widget Well -->
            </div>
        </div>