
<div class = "homepagecontainer">
    <div class = "mainframephotos">
        
        <a href="/pages/gdynia"><div class = "gdyniaphoto" id="gdyp"> </div></a>
        <a href="/pages/gdansk"><div class = "gdanskphoto" id="gdap"></div></a>
        <a href="/pages/sopot"><div class = "sopotphoto" id="sopp"></div></a>
        
    </div>
</div>


<div class = "lastarticlesone">
        
</div>


<div class = "lastarticlestwo">
    
</div>    


<script src = "/assets/imageswapgdy.js"></script>